.podcasts {
  list-style: none;
  margin-top: 5%;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  width: 100%;
  gap: 32px;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.counter {
  background-color: #007bff;
  color: white;
  padding: 8px 8px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  width: 50px;
  margin: 10px;
  height: 20px;
  line-height: 1;
}

input {
  padding: 15px 200px 15px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
}

input:focus {
  border-color: #007bff;
}
