.podcast-detail {
    width: 300px;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(255, 255, 255, 1);
    margin: 50px;
    height: fit-content;
  }
  
  .podcast-detail img {
    width: 70%;
    margin: 20px auto;
    border-radius: 5px;
  }
  
  .podcast-detail-title {
    text-align: start;
    margin-left: 10px;
    font-size: 18px;
  }
  
  .podcast-description p{
    text-align: start;
    margin-left: 10px;
    font-size: 16px;
  }
  
  .divider {
    border-top: 1px solid #000;
    margin: 10px 5px;
  }