#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  color: white;
  padding: 10px 20px;
}

.title {
  margin: 0;
}

.loading-icon {
  font-size: 24px;
  color: #007bff;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
